/* ---------------------------------------------------------------------- GENERAL STYLING ---------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Krona One', sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  overflow: hidden;
  overflow-wrap: break-word;
}

::selection {
  color: black;
  background: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* ---------------------------------------------------------------------- GENERAL DISK STYLING ---------------------------------------------------------------------- */

.pointer {
  cursor: default;
}

.pointer:hover {
  cursor: pointer;
}

.blob-base {
  width: 36px;
  height: 108px;
  border-radius: 50%;
  text-align: center;

  transition: 0.3s;

  position: absolute;
  left: 32px;

  border: 1px solid black
}

.blob-small {
  transition: 0.2s;
}

.blob-small:hover {
  width: 56px;
  height: 108px;
}


.text-hide {
  color: rgba(0, 0, 0, 0);
}

.text-show {
  color: black;
  padding-left: 100px;
  padding-right: 100px;
  transition: color 1.2s;
}

.blob-green {
  background-color: green;
  top: calc(50% - 48px);
}

.blob-blue {
  background-color: blue;
  top: calc(32% - 48px);
}

.blob-red {
  background-color: red;
  top: calc(68% - 48px);
}


.blob-big {
  width: 500px;
  height: 500px;
  left: calc(50vw - 250px);
  top: calc(50vh - 250px);
  border: 2px solid black;
}




/* ---------------------------------------------------------------------- MOBILE STYLING ---------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  .blob-base {
    width: 88px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
  /*  padding-top: 36px; */
  
    transition: 0.3s;
  
    position: absolute;
    top: 90vh;
  
    border: 1px solid black
  }

  .blob-small {
    transition: 0.16s;
  }
  
  .blob-small:hover {
    width: 88px;
    height: 40px;
    top: calc(90vh - 8px);
  }
  
  
  .text-show {
    color: black;
    padding-left: 25px;
    padding-right: 25px;
  /*  padding-top: 140px; */
    transition: color 1.2s;
  }
  
  .blob-green {
    background-color: green;
    left: calc(50% - 44px);
  }
  
  .blob-blue {
    background-color: blue;
    left: calc(75% - 24px);
  }
  
  .blob-red {
    background-color: red;
    left: calc(25% - 64px);
  }
  
  .blob-big {
    width: 260px;
    height: 260px;
    left: calc(50vw - 130px);
    top: calc(50vh - 200px);
    border: 2px solid black
  }
}
